<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${title}" /><br/>

验证码: <input type="text" name="checkCode"/>
<img alt="验证码" src="/getCheckCode"/>
<a href="javascript:reloadCode">看不清楚</a>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script>
    $(function(){
        /*$.ajax({
            type: "post",
            url: "/getCheckCode",
            data: {num: 123},
            dataType: "text",
            success: function (data) {
                //alert(1);
            }
        });*/

    });
</script>
</body>
</html>
