<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/1.css}" rel="stylesheet"/>
</head>
<body>
<p th:text="'Hello, ' + ${title}" /><br/>

验证码: <input type="text" name="checkCode"/>
<img alt="验证码" src="<%=request.getContextPath()%>/servlet/ImageServlet"/>
<a href="javascript:reloadCode">看不清楚</a>

<script th:src="@{/js/jquery/1.11.0/jquery.js}"></script>
<script>
    $(function(){
        alert("page load finish.");
    });
</script>
</body>
</html>
